.passwordGenerator {
  /* display: flex;
  justify-content: center; */
  background-color: rgb(224, 203, 245);
  width: 90%;
  height: 300px;
  border-radius: 50px;
}
.slider {
  width: 200px;
}
.generateButton {
  margin-left: 20px;
  width: 150px;
  height: 50px;
  font-size: 30px;
  font-weight: 700;
}
.inputPassword {
  width: 500px;
  font-size: 30px;
}
.checkBoxes {
  display: flex;
  flex-direction: column;
}
.asd {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.inputText {
  font-size: 30px;
}
